@charset "utf-8";

#left_menu{ 
    width: 45px;
    height: 100%;
    background: #181D20;
    position: fixed;
    z-index: 1;
    top:  0px;
    left: 0px;
    line-height: 1.5;
    text-align: center;
    font-family: calibri;
    vertical-align: middle;
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 0px 0px;
    -webkit-animation: slideOutLeft 0.5s ease-in-out 0.3s backwards;
}

#left_menu img{
    vertical-align: middle;
    width: 28px;
    height: 28px;
}