@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */
body {
	background: url(../images/bg.png) repeat;
	color: #999;
	font: 100%/1.5em sans-serif;
	margin: 0;
}

h1 {
	margin: 0;
}

a {
	color: #999;
	text-decoration: none;
}

a:hover {
	color: #1dabb8;
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	outline: none;
}

.chart {
	margin: 10px auto;
}

input[type="submit"], input[name="r5"] {
	cursor: pointer;
}

input[type="button"] {
	cursor: pointer;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

span.rr {
	font-size: 9px;
	color: red;
}

span.sp {
	font-size: 12px;
	color: black;
}

#worcspace{
	position: fixed;
  	top: 0;
  	left: 46px;
 	width: calc(100% - 46px);
  	height: 100%;
}

/* ---------- LOGIN-FORM ---------- */
.loginForm, .register {
	margin: auto;
	margin-top: 110px;
	width: 278px;
	border-radius: 5px 5px 0 0;
}

.max-cash {
	
}

.loginForm h1, .register h1 {
	background-color: #282830;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

.error {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.loginForm fieldset, .register fieldset {
	background: #fff;
	border: none;
	padding: 20px;
	position: relative;
	margin: 0;
}

.loginForm fieldset:before, .register fieldset:before {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}

.loginForm input, .register input {
	font-size: 14px;
}

.loginFPForm input[name="username"], .loginFPForm input[name="email"] {
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 238px;
}

.loginFPForm input[name="username"] {
	border-radius: 3px 3px 0 0;
	border-bottom: none;
}

.loginFPForm input[name="email"] {
	border-top: none;
	border-radius: 0 0 3px 3px;
}

.profile {
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 238px;
	border-top: none;
}

.register input[name="email"], .register input[name="password"],
	.register input[name="password_confirm"], .register input[name="username"],
	.register input[name="fullname"], .register input[name="organization"],
	.register input[name="yurAdress"], .register input[name="mob_tel"],
	.register input[name="telFax"], .register input[name="value_captcha"] {
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 238px;
}

.loginForm input[type="email"], .loginForm input[type="password"],
	.loginForm input[name="password"], .loginForm input[name="username"],
	.loginForm input[name="fullname"] {
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 215px;
}

input#UID.input[name="keyModule"] {
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 238px;
}

.loginForm input[type="email"] {
	border-radius: 3px 3px 0 0;
}

.loginForm input[type="password"] {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}

.register input[name="password_confirm"] {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}

.loginForm input[type="submit"], .register input[type="submit"] {
	background: #1dabb8;
	border-radius: 3px;
	color: #fff;
	float: right;
	font-weight: bold;
	margin-top: 20px;
	padding: 12px 20px;
}

.loginForm input[type="submit"]:hover {
	background: #198d98;
}

.loginForm footer, .register footer {
	font-size: 12px;
	margin-top: 16px;
}

.info {
	background: #e5e5e5;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 20px;
}

.Panel-top {
	line-height: 24px;
	font-size: 11px;
	background: rgba(0, 0, 0, 0.08);
	text-transform: uppercase;
	z-index: 500;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-family: calibri;
	font-size: 13px;
	box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}

.Panel-left {
	overflow: auto;
	line-height: 24px;
	width: 190px;
	height: 95%;
	background: rgba(0, 0, 0, 0.08);
	z-index: 9;
	position: fixed;
	top: 30px;
	left: 0px;
	font-family: calibri;
	box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
	border-radius: 0px 5px 5px 0px;
	-webkit-animation: slideOutLeft 0.5s ease-in-out 0.3s backwards;
}

.MainPanel {
	margin-left: 200px;
	margin-top: 25px;
	width: 85%;
	height: 85%;
}

.Block-Data {
	display: block;
	color: #333;
	width: 94%;
	font-size: 250%;
	color: lime;
	height: 85px;
	background: rgba(0, 0, 0, 0.08);
	margin: 5px auto;
	border-radius: 5px 5px 5px 5px;
	padding-left: 3px;
	border: 1px solid rgba(0, 0, 0, 0.08);
	-moz-transition: color 0.5s 0.1s ease;
	-o-transition: color 0.5s 0.1s ease;
	-webkit-transition: color 0.5s 0.1s ease;
	cursor: pointer;
}

.Block-Data:hover {
	background: rgba(0, 0, 0, 0.5);
	color: Lime;
}

.Panel-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}

.Panel-top a:hover {
	background: #fff;
}

.Panel-top span.right {
	float: right;
}

.Panel-top span.right a {
	float: left;
	display: block;
	padding-right: 15px;
}

.Panel2-top span.right {
	float: right;
	width: 117px;
}

.Panel2-top {
	padding-top: 5px;
	border: 1px solid #dcdcdc;
}

.register input[name="pkey"] {
	width: 100px;
	text-align: center;
}

/* ---------- REGISTRATION-FORM ---------- */
.register input[name="email"], .register input[name="password"],
	.register input[name="password_confirm"], .register input[name="fullname"],
	.register input[name="organization"], .register input[name="yurAdress"],
	.register input[name="mob_tel"], .register input[name="telFax"],
	.Panel2-top {
	border-top: none;
}

.register input[name="username"] {
	border-radius: 3px 3px 0px 0px;
}

.Panel2-top {
	border-radius: 0px 0px 3px 3px;
}

.register, .loginForm {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.loginForm input[name="keyModule"] {
	text-align: center;
	border-radius: 3px 3px 3px 3px;
}

#Image_Settings {
	width: 16px;
	height: 16px;
	left: 50px;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}

#Image_Settings:hover {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
}

#image {
	width: 16px;
	height: 16px;
	background-image: url(../../images/settings.png);
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-radius: 5px 5px 5px 5px;
}

#menu {
	display: block;
	height: 70%;
}

#menu>li {
	display: inline-block;
	position: relative;
}

#menu>li>ul {
	position: absolute;
	top: 20px;
	display: none;
	text-transform: none;
}

#menu>li:hover>ul {
	display: block;
}

.generatePKey {
	border: 1px solid #999
}

#UID {
	border: none;
	background: none;
	padding: none;
}